/* You can add global styles to this file, and also import other style files */

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-10px) rotate(-5deg);
  }

  75% {
    transform: translateX(10px) rotate(5deg);
  }
}

.confetti {
  position: fixed;
  top: -20px;
  font-size: 24px;
  user-select: none;
  pointer-events: none;
  animation: confettiFall 3s linear forwards;
  z-index: 9999;
}

@keyframes confettiFall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translateY(100vh) rotate(720deg);
    opacity: 0;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
  width: 100%;
}


.flex-1 {
  flex: 1;
}

.flex-c {
  align-items: center;
  display: flex;
}

.flex-cc {
  justify-content: center;
  align-items: center;
  display: flex;
}

.flex-cb {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.x-center {
  left: 50%;
  transform: translate(-50%, 0%);
}

.y-center {
  top: 50%;
  transform: translate(0%, -50%);
}

.xy-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pb-0 .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
